<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-header text-uppercase">
                    <strong>Tipos de habitación</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <app-tipo-habitacion-registro></app-tipo-habitacion-registro>
                        </div>
                        <div class="col-md-6">
                            <app-tipo-habitacion-list></app-tipo-habitacion-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>